<!DOCTYPE html>
<html>
  <head>
    <title>Disagree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% action_cable_meta_tag %>

    <script src="https://kit.fontawesome.com/82e90f5064.js" crossorigin="anonymous"></script>
    <script type='text/javascript'>
    window.signinback = "<%= image_url('signinback.jpg') %>";
     window.logo = "<%= image_url('logo.png') %>";
     window.icon = "<%= image_url('icon.png') %>";
     window.user_icon = "<%= image_url('user_icon.png') %>";
     window.addServer = "<%= image_url('addServer.svg') %>";
     window.joinServer = "<%= image_url('joinServer.svg') %>";
     window.bomb = "<%= image_url('splash/bomb.svg') %>";
     window.cd = "<%= image_url('splash/cd.svg') %>";
     window.circlefill = "<%= image_url('splash/circlefill.svg') %>";
     window.circleopen = "<%= image_url('splash/circleopen.svg') %>";
     window.coin = "<%= image_url('splash/coin.svg') %>";
     window.coinblock = "<%= image_url('splash/coinblock.svg') %>";
     window.controller = "<%= image_url('splash/controller.svg') %>";
     window.disk = "<%= image_url('splash/disk.svg') %>";
     window.headphone = "<%= image_url('splash/headphone.svg') %>";
     window.iphone = "<%= image_url('splash/iphone.svg') %>";
     window.laptop = "<%= image_url('splash/laptop.svg') %>";
     window.monitor = "<%= image_url('splash/monitor.svg') %>";
     window.potion = "<%= image_url('splash/potion.svg') %>";
     window.smartphone = "<%= image_url('splash/smartphone.svg') %>";
     window.square = "<%= image_url('splash/square.svg') %>";
     window.triangle = "<%= image_url('splash/triangle.svg') %>";
     window.x = "<%= image_url('splash/x.svg') %>";
    </script>
    
  </head>

  <body>

    <%= yield %>
  </body>
</html>
